body {
  margin: 0;
  padding: 0px 25px 0px 375px;
  font-family: "Poppins", sans-serif;
}

nav.main {
  background-color: navy;
  height: 100%;
  position: fixed;
  width: 300px;
  z-index: 5;
  line-height: 2.25rem;
  padding: 25px;
  color: white;
  left: 0;
  font-weight: 700;
}

nav.main a {
  text-decoration: none;
  color: white;
}

nav.main a:hover {
  text-decoration: underline;
}
